<!DOCTYPE html>
<html>
 <head>
  <title>Cards</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3>Deck of Cards</h3>
		</div>
    #parse( $template )



 </body>
</html>
